<?xml version="1.0" encoding="utf-8"?>

<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include -->
    <xacro:include filename="$(find docking_gazebo)/urdf/inertia.xacro" />
    <xacro:include filename="$(find docking_gazebo)/urdf/property.xacro" />
    <xacro:include filename="$(find docking_gazebo)/urdf/wheel.xacro" />
    <xacro:include filename="$(find docking_gazebo)/urdf/ball.xacro" />
    <xacro:include filename="$(find docking_gazebo)/urdf/lidar.xacro" />

    <!-- base_link -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.45 0.45 0.20" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.01 0.01 0.01" />
            </geometry>
        </collision>
        <xacro:box_inertial_matrix m="10.0" w="0.45" h="0.45" d="0.20" />
    </link>

    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <!-- Wheel Definitions -->
    <xacro:wheel lr="right" transY="0.185" parent="base_link" />
    <xacro:wheel lr="left" transY="-0.185" parent="base_link" />

    <!-- Ball Definitions -->
    <xacro:ball fb="front" transX="0.185" parent="base_link" />
    <xacro:ball fb="back" transX="-0.185" parent="base_link" />

    <!-- Lidar -->
    <xacro:lidar parent="base_link" />

    <!-- wheel control -->
    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">

            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>base_link</robotBaseFrame>
            <publishWheelTF>false</publishWheelTF>
            <publishWheelJointState>true</publishWheelJointState>
            <legacyMode>true</legacyMode>

            <wheelSeparation>0.37</wheelSeparation>
            <wheelDiameter>0.16</wheelDiameter>
            <wheelAcceleration>1.8</wheelAcceleration>
            <wheelTorque>100</wheelTorque>
            <updateRate>30.0</updateRate>

            <leftJoint>wheel_base_link_left_joint</leftJoint>
            <rightJoint>wheel_base_link_right_joint</rightJoint>

            <publishTf>true</publishTf>

            <rosDebugLevel>na</rosDebugLevel>
            <publishOdomTF>true</publishOdomTF>

        </plugin>
    </gazebo>

</robot>
