<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- # gazebo -->
    <include file="$(find docking_gazebo)/launch/link.launch" />

    <!-- # static tf -->
    <node pkg="tf" type="static_transform_publisher" name="br1" args="0 0 0 0 0 0 1 map odom 30" />

    <!-- # move_base -->
    <include file="$(find docking_sim)/launch/_mb_link.launch">
        <arg name="use_map" value="false" />
    </include>

    <!-- # rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find docking_sim)/rviz/link.rviz" />

</launch>
